Button:focused{
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
}
Button{
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
}
.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button{
    -fx-padding: 0px;
}
.list-view{
    -fx-background-color: transparent;
}
.list-view .scroll-bar:vertical{
    -fx-scale-x: 0;
}
.list-view:focused{
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.orders{
    -fx-background-color: #EEEEEE;
}
.orders AnchorPane > Label {
    -fx-background-radius: 5px;
    -fx-border-width: 0px;
    -fx-border-radius: 180px;
    -fx-background-color: #E6353A;
}
.orders AnchorPane > AnchorPane {
    -fx-background-radius: 5px;
    -fx-border-width: 0px;
    -fx-border-radius: 180px;
    -fx-background-color: #E6353A
}
.orders AnchorPane > AnchorPane Label {
    -fx-background-radius: 3px;
    -fx-background-color: #E6353A;
}
.orders AnchorPane AnchorPane:hover {
    -fx-opacity: 1;
}
.orders .list-view{
    -fx-background-color: #EEEEEE;
}
.orders .list-view .list-cell{
    -fx-pref-height: 107px;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-alignment: center;
}
.orders .list-view .list-cell:selected AnchorPane AnchorPane{
    -fx-opacity: 1;
}
.orders-view .list-view GridPane{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 0, 0.0 , 0 , 0);
    -fx-background-color: transparent;
}
.orders-view .list-view GridPane:hover{
    -fx-background-color: white;
}
.orders-view Button,
.orders-view TextField{
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;

}
.orders-view .list-view .list-cell{
    -fx-background-color: transparent;
    -fx-padding: 0px;
}
.dishes-list Label{
    -fx-text-fill: white;
}
.dishes-list{
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #E6353A;
}
.dishes-list GridPane:hover Label {
    -fx-text-fill: #E6353A;
}
.new-order-list GridPane Label,
.menu-list GridPane Label{
    -fx-text-fill: white;
}
.new-order-list GridPane:hover Label,
.menu-list GridPane:hover Label{
    -fx-text-fill: #FC3903;
}
.new-order-list .price,
.menu-list .price{
    -fx-pref-Height: 64px;
}
.chat-second{
    -fx-background-color: #FC3903;
}
.chat-second ScrollPane{
    -fx-background-color: transparent;
}
.chat-second ScrollPane > .viewport{
    -fx-background-color: transparent;
}
.create-order{
    -fx-background-color: #FC3903;
}
.updates{
    -fx-background-color: #FC3903;;
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
    -fx-border-color: #89936e;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}
.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb{
    -fx-background-color: #b2b2b2;
}
