Button:focused{
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
}
Button{
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
}
ScrollPane > .corner {
    -fx-background-color: transparent;
}
ScrollPane .scroll-bar > .increment-button,
ScrollPane .scroll-bar > .decrement-button{
    -fx-pref-height:0;
    -fx-background-color:  transparent;
}
ScrollPane .scroll-bar > .increment-button > .increment-arrow,
ScrollPane .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-pref-height:0;
    -fx-background-color: transparent;
}
ScrollPane ScrollBar{
    -fx-background-color: transparent;
}
ScrollPane{
    -fx-background-color: transparent;
}
ScrollPane > .viewport{
    -fx-background-color: transparent;
}
TextArea{
    -fx-background-color: transparent;
}
TextArea .content {
    -fx-background-color: transparent;
}
TextArea .viewport{
    -fx-background-color: transparent;
}
.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button{
    -fx-padding: 0px;
}
.list-view{
    -fx-background-color: transparent;
}
.list-view .scroll-bar:vertical{
    -fx-scale-x: 0;
}
.list-view:focused{
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.menu Text:hover{
    -fx-strikethrough: true;
}
.strikethrough{
    -fx-strikethrough: true;
}
.profile-view {
    -fx-background-color: #E6353A;
}
.profile-picture-shadow{
    -fx-background-radius: 180px;
    -fx-border-radius: 180px;
    -fx-background-color: #E6353A;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 8, 0.0 , 0 , 1);

}
.user-labels Label{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: white;
}
.user-fields Label,
.user-fields TextField{
    -fx-background-color: #E6353A;
    -fx-text-fill: white;
}
.profile-menu{
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-background-color: #E6353A;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 9, 0.0 , 0 , 1 );
}
.profile-menu Button{
    -fx-background-color: transparent;
}
.profile-menu Button:hover{
    -fx-background-color: #E6353A;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 9, 0.0 , 0 , 1 );
}
.profile-picture-container{
    -fx-background-radius: 180px;
    -fx-border-radius: 180px;
}
.notification-list{
    -fx-background-color: transparent;
}
.notification-list .list-cell{
    -fx-background-color: transparent;
    -fx-pref-height: 55;
}
.notification-list .list-cell:hover TextField{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );
}
.notification-list TextField{
    -fx-background-color: #FC3903;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 9, 0.0 , 0 , 1 );
    -fx-pref-height: 45;
    -fx-alignment: center;
    -fx-text-fill: white;
}
.notification-list TextField:disabled{
    -fx-opacity: 1;
}
.orders{
    -fx-background-color: #EEEEEE;
}
.orders AnchorPane > Label {
    -fx-background-radius: 5px;
    -fx-border-width: 0px;
    -fx-border-radius: 180px;
    -fx-background-color: #E6353A;
}
.orders AnchorPane > AnchorPane {
    -fx-background-radius: 5px;
    -fx-border-width: 0px;
    -fx-border-radius: 180px;
    -fx-background-color: #E6353A
}
.orders AnchorPane > AnchorPane Label {
    -fx-background-radius: 3px;
    -fx-background-color: #E6353A;
}
.orders AnchorPane AnchorPane:hover {
    -fx-opacity: 1;
}
.orders .list-view{
    -fx-background-color: #EEEEEE;
}
.orders .list-view .list-cell{
    -fx-pref-height: 107px;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-alignment: center;
}
.orders .list-view .list-cell:selected AnchorPane AnchorPane{
    -fx-opacity: 1;
}
.orders-view .list-view GridPane{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 0, 0.0 , 0 , 0);
    -fx-background-color: transparent;
}
.orders-view .list-view GridPane:hover{
    -fx-background-color: white;
}
.orders-view Button,
.orders-view TextField{
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;

}
.orders-view .list-view .list-cell{
    -fx-background-color: transparent;
    -fx-padding: 0px;
}
.dishes-list Label{
    -fx-text-fill: white;
}
.dishes-list{
    -fx-border-width: 1 0 0 0;
}
.dishes-list GridPane:hover Label {
    -fx-text-fill: #E6353A;
}
.new-order-list GridPane Label,
.menu-list GridPane Label{
    -fx-text-fill: white;
}
.new-order-list GridPane:hover Label,
.menu-list GridPane:hover Label{
    -fx-text-fill: #FC3903;
}
.new-order-list .price,
.menu-list .price{
    -fx-pref-Height: 64px;
}
.create-order{
    -fx-background-color: #FC3903;
}
.updates{
    -fx-background-color: #FC3903;;
}
.profile-image-container{
    -fx-background-color: #E6353A;
    -fx-background-radius: 40px;
    -fx-border-radius: 40px;
}
.chats-list GridPane{
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-background-color: #E6353A;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 9, 0.0 , 0 , 1 );
}
.chats-list Label{
    -fx-text-fill: white;
}
.chats-view ScrollPane{
    -fx-background-color: transparent;
}
.chats-view ScrollPane > .viewport{
    -fx-background-color: transparent;
}
.chats-view{
    -fx-background-color: linear-gradient(#E6353A 50%, #FC3903 50%, #FC3903 100%);
}
.main-chat {
    -fx-background-color: #E6353A;
}
.main-chat ScrollBar .thumb{
    -fx-background-color: #E6353A;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );
}
.second-chat{
    -fx-background-color: #FC3903;
}
.second-chat ScrollBar .thumb{
    -fx-background-color: #FC3903;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );
}
.text-area-container{
    -fx-background-color: white;
    -fx-background-radius: 20px;
}
.text-area-container TextArea{
    -fx-background-radius: 20px;
}

.chats-view .time{
    -fx-fill: #bcbcbc;
}
.chats-view TextFlow{
    -fx-padding: 5 5 5 5;
}
.user-message-first{
    -fx-padding: 30 0 0 165;
}
.user-message{
    -fx-padding: -3 40 0 165;
}
.second-user-message-first{
    -fx-padding: 32 165 0 0;
}
.second-user-message{
    -fx-padding: -3 165 0 40;
}
.session-info{
    -fx-padding: 0 0 0 15;
}
.session-info TextFlow{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 0, 0.0 , 0 , 0 );
    -fx-background-insets: 0 0 0 0;
}
.session-info Text{
    -fx-fill: white;
}
.session-date{
    -fx-padding: 0 0 0 15;
}
.session-date TextFlow{
    -fx-padding: 13 20 13 20;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 1, 0.0 , 0 , 0 );
}
.session-date Text{
    -fx-fill: white;
}
.chats-view HBox Pane{
    -fx-pref-width: 40.0;
    -fx-pref-height: 40.0;
    -fx-border-radius: 180px;
    -fx-background-radius: 180px;
}
.chats-view .imageShadow{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 6, 0.0 , 0 , 0 );
}
.chats-view .message{
    -fx-fill: white;
}
.chats-view Button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 1, 0.0 , 0 , 0 );

}
.chats-view Button:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 0, 0.0 , 0 , 0 );
}
.chats-view HBox AnchorPane{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );
}
.main-chat .imageShadow{
    -fx-background-color: #E6353A;
}
.second-chat .imageShadow{
    -fx-background-color: #FC3903;
}
.main-chat .session-date TextFlow{
    -fx-background-color: #E6353A;
}
.second-chat .session-date TextFlow{
    -fx-background-color: #FC3903;
}


