.shadow{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );
}
Button:focused{
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}
.list-view:focused{
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button{
    -fx-padding: 0px;
}

.list-view .scroll-bar:vertical{
    -fx-scale-x: 0;
}
ScrollPane{
    -fx-background-color: transparent;
    -fx-padding: 0 1 0 0;
    -fx-opacity: 1.0;
    -fx-background-insets: 0, 0;
}
ScrollPane > .viewport{
    -fx-background-color: transparent;
}
ScrollPane:disabled{
    -fx-opacity: 0.55;
}
ScrollPane ScrollBar{
    -fx-background-color: transparent;
}
ScrollPane ScrollBar .thumb{
    -fx-background-color:  #363b41;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );
}
ScrollPane > .corner {
    -fx-background-color: transparent;
}
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );
TextArea .scroll-pane {
    -fx-background-color: transparent;
}

TextArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}


TextArea .scroll-pane .content{
    -fx-background-color: transparent;
}
.scroll-bar > .increment-button,
.scroll-bar > .decrement-button{
    -fx-pref-height:0;
    -fx-background-color: transparent;
}
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-pref-height:0;
    -fx-background-color: transparent;
}
.menu Button{
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 1, 0.0 , 0 , 0 );
    -fx-background-color: #2A2E37;
}
.menu Button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );
    -fx-border-width: 0;
}
.profile-picture{
    -fx-background-radius: 180;
    -fx-border-radius: 180;
}
.profile-picture-shadow{
    -fx-background-color: #2A2E37;
    -fx-background-radius: 180;
    -fx-border-radius: 180;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 3, 0.0 , 0 , 0 );
}

.order-list{
    -fx-background-color: transparent;
}
.order-list .list-cell{
    -fx-background-color: transparent;
    -fx-padding: 0;
}
.order-container{
    -fx-pref-height: 188.0px;
    -fx-pref-width: 127.35px;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #363b41;
}
.order-container:hover .order{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );
}
.order{
    -fx-background-color: #2A2E37;
    -fx-background-radius: 10px;
    -fx-pref-height: 86.5;
    -fx-pref-width: 86.5;
}
.order AnchorPane{
    -fx-background-color: #2A2E37;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );
}

.order ScrollPane ScrollBar{
    -fx-background-color: transparent;
}
.order ScrollPane ScrollBar .thumb{
    -fx-background-color: transparent;
}
.order > Label{
    -fx-background-color: #2A2E37;
    -fx-border-radius: 2 0 0 2;
    -fx-background-radius: 2 2 0 0;
    -fx-pref-height: 30.0;
    -fx-pref-width: 30.0;
    -fx-text-fill: #bcbcbc;
    -fx-alignment: center;
    -fx-font-size: 10;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );
    -fx-opacity: 1.0;
}
.order > Button{
    -fx-background-color: #2A2E37;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );
    -fx-opacity: 1.0;
}
.order > Button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 1, 0.0 , 0 , 0 );
}
.chatUsers ImageView{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 6, 0.0 , 0 , 0 );
}
.chatUsers .imagePressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 1, 0.0 , 0 , 0 );
}
.chatUsers ImageView:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 1, 0.0 , 0 , 0 );
}
.order > Button:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );
}
.dish {
    -fx-background-color: #2A2E37;
}
.dish .amount{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 2, 0.0 , 0 , 0 );
    -fx-background-color: #2A2E37;
    -fx-pref-width: 46.0;
    -fx-pref-height: 46.0;
    -fx-alignment: center;
    -fx-text-fill:  #bcbcbc;

}
.dish .ready{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 2, 0.0 , 0 , 0 );
    -fx-text-fill:  #bcbcbc;
    -fx-background-color: #2A2E37;
    -fx-pref-width: 46.0;
    -fx-pref-height: 46.0;
    -fx-alignment: center;

}
.dish .ready:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );
}
.dish .ready:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 2, 0.0 , 0 , 0 );
}
.dish .name{
    -fx-text-fill:  #bcbcbc;
    -fx-background-color: #2A2E37;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-pref-height: 46.0;
    -fx-alignment: center;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 2, 0.0 , 0 , 0 );
    -fx-opacity: 1;
}

.program-bar{
    -fx-background-color: #2A2E37;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #363b41;
}
.menu{
    -fx-background-color: #2A2E37;
}
TextFlow {
    -fx-background-color: #363b41;
    -fx-border-radius: 5;
    -fx-background-insets: -2 -6 -2 -8;
    -fx-background-radius: 5;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 1, 0.0 , 0 , 0 );
}
.user-info Label{
    -fx-background-color: #363b41;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 1, 0.0 , 0 , 0 );
    -fx-opacity: 1.0;
}
.user-info TextField{
    -fx-background-color: #363b41;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-fill: #bcbcbc;
    -fx-opacity: 1.0;
    -fx-padding: 0
}
.user-info Button{
    -fx-background-color: #363b41;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );
    -fx-opacity: 1.0;
}
.chat-block{
    -fx-padding: 0 0 7 0;

}
.main-chat .message{
    -fx-fill: #bcbcbc;
}
.main-chat Button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 1, 0.0 , 0 , 0 );

}
.main-chat Button:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 0, 0.0 , 0 , 0 );
}
.main-chat .time{
    -fx-fill: #2A2E37;
}
.main-chat TextFlow{
    -fx-padding: 5 0 5 0;
}
.user-message-first{
    -fx-padding: 15 0 0 65;
}
.user-message{
    -fx-padding: 8 40 0 65;
}
.second-user-message-first{
    -fx-padding: 17 65 0 0;
}
.second-user-message{
    -fx-padding: 8 65 0 40;
}
.session-date{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 1, 0.0 , 0 , 0 );
    -fx-padding: 10 0 15 15;
}
.session-info{
    -fx-opacity: 0.7;
    -fx-padding: 0 0 0 15;
}
.chat-info{
    -fx-opacity: 1;
}
.session-info Pane,
.chat-info Pane{
    -fx-background-color: #bcbcbc;
}
.session-info TextFlow{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 0, 0.0 , 0 , 0 );
    -fx-background-insets: 0 0 0 0;
}
.session-info Text{
    -fx-fill: #bcbcbc;
}
.session-date Text{
    -fx-fill: #bcbcbc;
}
.notifications{
    -fx-background-color: #2A2E37;
}
.notifications HBox{
    -fx-pref-height: 38;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );
    -fx-background-color:  #2A2E37;
    -fx-alignment: center;
}
.notifications HBox Text{
    -fx-alignment: center;
    -fx-fill: #bcbcbc;
}
.menu-cell{

}
.price{
    -fx-pref-Height: 64px;
    -fx-background-color: transparent;
}
.create-order ListView .list-cell{
   -fx-padding: 0;
   -fx-background-color: transparent;
}

.menu-cell{
    -fx-background-color: #363b41;
}

.create-button{
    -fx-background-color: #363b41;
}

.create-button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 5, 0.0 , 0 , 0 );

}

.create-button:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );

}
.clear-button:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 1, 0.0 , 0 , 0 );
}

.alert-box{
    -fx-background-color: #2A2E37;
    -fx-border-color: #363b41;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 5, 0.0 , 0 , 2 );

}
.alert-box > *.button-bar > *.container{
    -fx-background-color: #2A2E37;
    -fx-pref-height: 50
}

.alert-box:header *.header-panel{
    -fx-background-color: #2A2E37;
}
.alert-box:header *.header-panel *.label{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-pref-height: 25;
    -fx-text-fill: transparent;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 0, 0.0 , 0 , 0 );
}
.alert-box > *.label.content{
    -fx-font-size: 12px;
    -fx-text-fill: #bcbcbc;
    -fx-alignment: center;
    -fx-pref-height: 50;
    -fx-padding: 0,0,10,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 5, 0.0 , 0 , 2 );
    -fx-background-color: transparent;
}
.alert-box Button{
    -fx-text-fill: #bcbcbc;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 5, 0.0 , 0 , 0);
    -fx-background-color: #2A2E37;
}
.alert-box Button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0);
}
.alert-box Button:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 1, 0.0 , 0 , 0);
}
