Button:focused{
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}
Label, Button, TextField{
    -fx-text-fill: #bcbcbc;
}
Text{
    -fx-fill: #bcbcbc;
}
GridPane{
    -fx-alignment: center;
}
ScrollPane > .corner {
    -fx-background-color: transparent;
}
ScrollPane .scroll-bar > .increment-button,
ScrollPane .scroll-bar > .decrement-button{
    -fx-pref-height:0;
    -fx-background-color:  transparent;
}
ScrollPane .scroll-bar > .increment-button > .increment-arrow,
ScrollPane .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-pref-height:0;
    -fx-background-color: transparent;
}
ScrollPane ScrollBar{
    -fx-background-color: transparent;
}
ScrollPane{
    -fx-background-color: transparent;
}
ScrollPane > .viewport{
    -fx-background-color: transparent;
}
TextFlow {
    -fx-background-color: #1a1a1a;
    -fx-border-radius: 5;
    -fx-background-insets: -2 -6 -2 -8;
    -fx-background-radius: 5;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 0 );
}
ListView .list-cell{
    -fx-padding: 0;
    -fx-background-color: transparent;
}
.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button{
    -fx-padding: 0px;
}
.list-view{
    -fx-background-color: transparent;
}
.list-view .scroll-bar:vertical{
    -fx-scale-x: 0;
}
.root{
    -fx-pref-height: 526px;
    -fx-min-height: 526px;
    -fx-pref-width: 730px;
    -fx-min-width: 730px;
    -fx-background-color: transparent;
}
.padding-container{
    -fx-padding: 1.5em;
}
.padding-container > AnchorPane{
    -fx-effect: dropshadow( gaussian, rgba(0,0,0,1), 10, 0.42, 0.7, 0);
}
.shadow{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1), 15, 0.0 , 0 , 2 );
}
.content-bar{
    -fx-background-color: #FC3903;
    -fx-pref-width: 38.0px;
}
.order-view{
    -fx-background-color: #1a1a1a;
    -fx-effect: innershadow( gaussian , rgba(0,0,0,1), 4.5, 0.0 , 0 , 0);
}
.order-view > GridPane:disabled{
    -fx-opacity: 0;
}
.order-icon > Circle{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 5.5, 0.0 , 0 , 0 );
    -fx-fill: #1a1a1a;
}
.date-container Label{
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-font-size: 10.5px;
}
.date-container .time{
    -fx-min-width: 33.0px;
    -fx-min-height: 35.0px;
    -fx-pref-width: 33.0px;
    -fx-pref-height: 35.0px;
    -fx-max-width: 33.0px;
    -fx-max-height: 35.0px;
    -fx-effect: innershadow( gaussian , rgba(0,0,0,1) , 4.5, 0.0 , 0 , 0);
}
.date-container .date{
    -fx-min-width: 33.0px;
    -fx-min-height: 35.0px;
    -fx-pref-width: 33.0px;
    -fx-pref-height: 35.0px;
    -fx-max-width: 33.0px;
    -fx-max-height: 35.0px;
    -fx-effect: innershadow( gaussian , rgba(0,0,0,1) , 4.5, 0.0 , 0 , 0);
}
.create-view{
    -fx-background-color: #1a1a1a;
    -fx-effect: innershadow( gaussian , rgba(0,0,0,1) , 4.5, 0.0 , 0 , 0);
    -fx-padding: 2em;
}
.create-view TextField{
    -fx-pref-height: 3.55em;
    -fx-min-height: 3.55em;
    -fx-background-color: #1a1a1a;
    -fx-alignment: center;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 8, 0.0 , 0 , 0 );
}
.dishes-list{
    -fx-padding: 0 2em;
}
.dishes-list ListView{
    -fx-background-color: #1a1a1a;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 8, 0.0 , 0 , 0 );
}
.dishes-list GridPane{
    -fx-background-color:  #1a1a1a;
}
.dish-cell{
    -fx-max-height: 6.7em;
    -fx-min-height: 5.35em;
    -fx-pref-height: 5.35em;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
}
.dish-cell Label{
    -fx-alignment: center;
}
.loading{
    -fx-pref-height: 12px;
    -fx-pref-width: 12px;
    -fx-text-fill: #bcbcbc;
}
.order-cell{
    -fx-padding: 0.5 0 0.5 3em;
}
.order-cell > StackPane{
    -fx-pref-height: 5em;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1), 0.5, 0 , 0 , 0.5 );
    -fx-background-color: #1a1a1a;
}
.order-cell VBox{
    -fx-alignment: center;
}
.order-cell HBox{
    -fx-alignment: top-right;
    -fx-padding: 0.5em 0.5em 0 0;
}
.order-cell Button{
    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,1), 2, 0, 0.4, 0);
    -fx-background-color: #1a1a1a;
    -fx-border-radius: 5em;
    -fx-background-radius: 5em;
    -fx-min-height: 0;
    -fx-min-width: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-pref-width: 1.2em;
    -fx-pref-height: 1.2em;
}
.order-cell Label{
    -fx-text-fill: white;
}
.order-list .list-cell:hover .order-cell StackPane{
    -fx-background-color: rgb(252,57,3,0.1);
}
.order-list .list-cell:selected .order-cell StackPane{
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-color: rgb(252,57,3,1);
}
.menu-container{
    -fx-background-color: #1a1a1a;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 8, 0.0 , 0 , 0 );
}
.dish-cell{
    -fx-pref-Height: 5.35em;
}
.menu-container .list-view .list-cell GridPane{
    -fx-background-color: #1a1a1a;
}
.add-button-padding{
    -fx-padding: 2em 0;
}
.add-button{
    -fx-pref-height: 61px;
    -fx-pref-width: 61px;
    -fx-min-height: 61px;
    -fx-min-width: 61px;
    -fx-border-radius: 180px;
    -fx-background-radius: 180px;
    -fx-background-color: #1a1a1a;
    -fx-border-width: 2px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 5.5, 0.0 , 0 , 0 );
}
.add-button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 3, 0.0 , 0 , 0 );
}
.add-button:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 0 );
}
.add-button ProgressIndicator{
    -fx-accent: #FC3903;
}
.orders{
    -fx-background-color: #1a1a1a;
    -fx-border-width: 0 0.3 0 0;
    -fx-border-color: white;
    -fx-padding: 4.8em 0 0 0;
}
.order-info AnchorPane{
    -fx-background-color: #1a1a1a;
    -fx-background-radius: 15;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 8, 0.0 , 0 , 0 );
}
.date-label{
    -fx-font-size: 10px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4.5, 0.0 , 0 , 0 );
    -fx-font-weight: bold;
    -fx-pref-height: 21.0px;
    -fx-pref-width: 77.0px
}
.info-label{
    -fx-border-width: 0 0 1 0;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
.chats{
    -fx-background-color: #1a1a1a;
    -fx-border-width: 0 0.3 0 0;
    -fx-border-color: white;
    -fx-pref-width: 212.0px;
}
.chats-list .list-cell:selected .name{
    -fx-text-fill: white;
}
.chats-list .list-cell:selected .last-message{
    -fx-pref-height: 0;
    -fx-text-fill: white;
}
.chats-list .list-cell{
    -fx-padding: 0.33em 0;
}
.chats-list .list-cell:selected{
    -fx-background-color: #FC3903;
}
.chats-list .list-cell:selected HBox{
    -fx-background-color: transparent;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 0, 0.0 , 0 , 0 );
}
.chat-cell{
    -fx-padding: 0.2em 0 0.2em 3.5em;
    -fx-alignment: center;
    -fx-spacing: 0.55em;
    -fx-background-color: #1a1a1a;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 1 );

}
.chat-cell:hover{
    -fx-background-color: rgb(252,57,3,0.1);
}
.chat-cell VBox{
    -fx-alignment: center-left;
    -fx-pref-width: 0;
}
.name{
    -fx-font-size: 1em;
}
.profile-image{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 15, 0.0 , 0 , 2 );
}
.profile-image Circle {
    -fx-fill: white;
}
.profile-image ImageView{
    -fx-translate-y: 4.15;
}
.last-message{
    -fx-text-fill: #545454;
}
.chat-view > AnchorPane{
    -fx-background-color: #1a1a1a;
    -fx-effect: innershadow( gaussian , rgba(0,0,0,1) , 4.5, 0.0 , 0 , 0);
}
.chat-block{
    -fx-padding: 0 0 7 0;
}
.main-chat Pane{
    -fx-pref-width: 40.0;
    -fx-pref-height: 40.0;
    -fx-border-radius: 180px;
    -fx-background-radius: 180px;
}
.main-chat VBox{
    -fx-pref-width: 396.0px;
}
.main-chat .imageShadow{
    -fx-background-color: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 6, 0.0 , 0 , 0 );
}
.main-chat Button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 0 );

}
.main-chat Button:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 0, 0.0 , 0 , 0 );
}
.main-chat AnchorPane{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
}
.main-chat .time{
    -fx-fill: #2A2E37;
}
.main-chat TextFlow{
    -fx-padding: 5 0 5 0;
}

.main-chat Button{
    -fx-background-color: #1a1a1a;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}
.main-chat TextArea{
    -fx-background-color: #1a1a1a;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #bcbcbc;
}
.main-chat TextArea .content {
    -fx-background-color: transparent;
}
.main-chat TextArea .viewport{
    -fx-background-color: transparent;
}
.main-chat ScrollBar .thumb{
    -fx-background-color:  #1a1a1a;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
}
.user-message-first{
    -fx-padding: 15 0 0 165;
}
.user-message{
    -fx-padding: 8 40 0 165;
}
.second-user-message-first{
    -fx-padding: 17 165 0 0;
}
.second-user-message{
    -fx-padding: 8 165 0 40;
}
.session-date{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 0 );
    -fx-padding: 10 0 15 15;
}
.session-info{
    -fx-opacity: 0.7;
    -fx-padding: 0 0 0 15;
}

.chat-info{
    -fx-opacity: 1;
}
.session-info Pane{
    -fx-background-color: white;
}
.session-info TextFlow{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 0, 0.0 , 0 , 0 );
    -fx-background-insets: 0 0 0 0;
}
.session-info Text{
    -fx-fill: white;
}
