Button:focused{
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}
ProgressIndicator {
    -fx-accent: #bcbcbc;
}
ScrollPane{
    -fx-background-color: transparent;
    -fx-padding: 0 1 0 0;
    -fx-opacity: 1.0;
    -fx-background-insets: 0, 0;
}
ScrollPane > .viewport{
    -fx-background-color: transparent;
}
ScrollPane:disabled{
    -fx-opacity: 0.55;
}
ScrollPane ScrollBar{
    -fx-background-color: transparent;
}
ScrollPane ScrollBar .thumb{
    -fx-background-color:  #363b41;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
}
ScrollPane > .corner {
    -fx-background-color: transparent;
}
TextArea .scroll-pane {
    -fx-background-color: transparent;
}

TextArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}

TextArea .scroll-pane .content{
    -fx-background-color: transparent;
}
TextFlow {
    -fx-background-color: #363b41;
    -fx-border-radius: 5;
    -fx-background-insets: -2 -6 -2 -8;
    -fx-background-radius: 5;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 0 );
}
.list-view:focused{
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button{
    -fx-padding: 0px;
}
.list-view .scroll-bar:vertical{
    -fx-scale-x: 0;
}
.scroll-bar > .increment-button,
.scroll-bar > .decrement-button{
    -fx-pref-height:0;
    -fx-background-color: transparent;
}
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-pref-height:0;
    -fx-background-color: transparent;
}
.shadow{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
}
.content-root{
    -fx-max-height: 641px;
    -fx-max-width: 1100px;
    -fx-min-height: 428px;
    -fx-min-width: 742px;
    -fx-pref-height: 428px;
    -fx-pref-width: 743px;
    -fx-background-color: transparent;
}
.menu-scroll-container{
    -fx-max-width: 103px;
    -fx-min-height: 0px;
    -fx-min-width: 103px;
    -fx-pref-height: 0px;
    -fx-pref-width: 103px;
    -fx-background-color: #363b41;
}
.menu Button{
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 0 );
    -fx-background-color: #2A2E37;
}
.menu Button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
    -fx-border-width: 0;
}
.profile-picture{
    -fx-background-radius: 180;
    -fx-border-radius: 180;
    -fx-pref-height: 60px;
    -fx-pref-width: 60px;
}
.profile-picture-shadow{
    -fx-background-color: #2A2E37;
    -fx-background-radius: 180;
    -fx-border-radius: 180;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 3, 0.0 , 0 , 0 );
    -fx-pref-height: 60px;
    -fx-pref-width: 60px;
}
.profile-picture-shadow Button{
    -fx-text-fill: #bcbcbc;
}
.order-list,
.notification-list{
    -fx-background-color: transparent;
}
.order-list .list-cell{
    -fx-background-color: transparent;
    -fx-padding: 0;
}
.order-cell{
    -fx-pref-height: 188.0px;
    -fx-pref-width: 127.35px;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #363b41;
}
.order,
.order-container{
    -fx-background-color: #2A2E37;
    -fx-background-radius: 10px;
    -fx-pref-height: 86.5;
    -fx-pref-width: 86.5;
}
.order-container{
    -fx-min-height: 86.5;
    -fx-min-width: 86.5;
}
.order:hover,
.order-container{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
}
.order-container .list-cell,
.notification-list .list-cell{
     -fx-background-color: transparent;
     -fx-padding: 0;
}
.order ScrollPane ScrollBar{
    -fx-background-color: transparent;
}
.order ListView{
    -fx-background-color: transparent;
}
.order ScrollPane ScrollBar .thumb{
    -fx-background-color: transparent;
}
.order > Label,
.order > GridPane Label{
    -fx-background-color: #2A2E37;
    -fx-border-radius: 2 2 0 0;
    -fx-background-radius: 2 2 0 0;
    -fx-pref-height: 30.0;
    -fx-pref-width: 30.0;
    -fx-text-fill: #bcbcbc;
    -fx-alignment: center;
    -fx-font-size: 10;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
    -fx-opacity: 1.0;
}
.order > Button{
    -fx-background-color: #2A2E37;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
    -fx-opacity: 1.0;
}
.order > Button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 0 );
}
.dishes-container {
    -fx-background-color: #2A2E37;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
    -fx-pref-height: 35px;
    -fx-pref-width: 31px;
}
.dishes-container ListView{
    -fx-pref-height: 200px;
    -fx-pref-width: 200px;
    -fx-min-height: 0px;
    -fx-min-width: 0px;
}
.dish-time{
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-effect: innershadow( gaussian , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
}
.chat-users{
    -fx-pref-width: 103px;
    -fx-pref-height: 212.5px;
    -fx-max-height: 212.5px;
}
.chat-users HBox{
    -fx-padding: 5 0 5 0;
    -fx-alignment: center;
}
.chat-users Pane{
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-min-height: 50px;
    -fx-min-width: 50px;
    -fx-max-height: 50px;
    -fx-max-width: 50px;
    -fx-border-radius: 180px;
    -fx-background-radius: 180px;
}
.chat-users .chat-shadow{
    -fx-background-color: #363b41;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 6, 0.0 , 0 , 0 );
}
.chat-users .list-cell:selected .chat-shadow{
    -fx-background-color: #363b41;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 0 );
}
.order > Button:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
}
.order .menu-cell{
    -fx-background-color: #2A2E37;
}
.order ListView:disabled{
    -fx-opacity: 1;
}
.program-bar{
    -fx-background-color: #2A2E37;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #363b41;
}
.program-bar Button{
    -fx-background-color: transparent;
}
.menu{
    -fx-background-color: #2A2E37;
    -fx-min-height: 190px;
    -fx-pref-height: 190px;
    -fx-pref-width: 103px;
}
.menu Button{
    -fx-max-height: 22px;
    -fx-max-width: 72px;
    -fx-pref-height: 22px;
    -fx-pref-width: 72px;
    -fx-text-fill: #bcbcbc;
}
.menu-scroll{
    -fx-pref-height: 211px;
    -fx-pref-width: 125px;
}
.menu-scroll ListView{
    -fx-background-color:transparent;
}
.menu-scroll .list-cell{
    -fx-background-color:transparent;
}
.menu-scroll > AnchorPane{
    -fx-pref-height: 212px;
    -fx-pref-width: 10px;
}
.menu-scroll > AnchorPane ScrollPane{
    -fx-pref-height: 132px;
    -fx-pref-width: 105px;
}
.user-info-scroll .scroll-bar .track {
    -fx-scale-x: 0px;
    -fx-padding: 0px;
}
.user-info-scroll .scroll-bar .thumb {
    -fx-scale-x: 0px;
    -fx-padding: 0px;
}
.user-info{
    -fx-pref-height: 115px;
    -fx-pref-width: 90px;
}
.user-info Label{
    -fx-background-color: #363b41;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 0 );
    -fx-opacity: 1.0;
}
.user-info TextField {
    -fx-effect: innershadow( gaussian , rgba(0,0,0,1) , 4.5, 0.0 , 0 , 0);
    -fx-background-color: #363b41;
    -fx-opacity: 1.0;
    -fx-border-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-text-fill: #bcbcbc;
    -fx-font-size: 10px;
    -fx-padding: 0;
    -fx-pref-width: 72px;
    -fx-pref-height: 22px;
    -fx-min-height: 22px;
    -fx-alignment: center;
}
.user-info Button{
    -fx-pref-width: 72px;
    -fx-pref-height: 22px;
    -fx-font-size: 10px;
    -fx-text-fill: #bcbcbc;
}
.user-info Button:disabled{
    -fx-opacity: 0.5;
}
.user-info TextField:readonly {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 2, 0 , 0 , 0 );
    -fx-cursor: pointer;
}
.user-info Button{
    -fx-background-color: #363b41;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
    -fx-opacity: 1.0;
}
.user-info ProgressIndicator{
    -fx-max-height: 12;
}
.user-info:disabled Button{
    -fx-opacity: 0.9;
}
.role-image-container{
    -fx-max-width: 6px;
    -fx-pref-height: 39px;
    -fx-pref-width: 6px;
}
.role-image Pane {
    -fx-pref-height: 2px;
    -fx-pref-width: 80px;
    -fx-background-color: #363B41;
}
.info-line{
    -fx-pref-height: 2px;
    -fx-pref-width: 80px;
    -fx-background-color: #363B41;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
}
.chat-block{
    -fx-padding: 0 0 7 0;
}
.main-chat {
    -fx-background-color: #363b41;
}
.main-chat Pane{
    -fx-pref-width: 40.0;
    -fx-pref-height: 40.0;
    -fx-border-radius: 180px;
    -fx-background-radius: 180px;
}
.main-chat .imageShadow{
    -fx-background-color: #363b41;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 6, 0.0 , 0 , 0 );
}
.main-chat .message{
    -fx-fill: #bcbcbc;
}
.main-chat Button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 0 );

}
.main-chat Button:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 0, 0.0 , 0 , 0 );
}
.main-chat .time{
    -fx-fill: #2A2E37;
}
.main-chat TextFlow{
    -fx-padding: 5 0 5 0;
}
.main-chat Button{
    -fx-background-color: #363b41;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}
.main-chat TextArea{
    -fx-background-color: #363b41;
    -fx-text-fill: #bcbcbc;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #bcbcbc;
}
.user-message-first{
    -fx-padding: 15 0 0 165;
}
.user-message{
    -fx-padding: 8 40 0 165;
}
.second-user-message-first{
    -fx-padding: 17 165 0 0;
}
.second-user-message{
    -fx-padding: 8 165 0 40;
}
.session-date{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 0 );
    -fx-padding: 10 0 15 15;
}
.session-info{
    -fx-opacity: 0.7;
    -fx-padding: 0 0 0 15;
}
.chat-info{
    -fx-opacity: 1;
}
.session-info Pane,
.chat-info Pane{
    -fx-background-color: #bcbcbc;
}
.session-info TextFlow{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 0, 0.0 , 0 , 0 );
    -fx-background-insets: 0 0 0 0;
}
.session-info Text{
    -fx-fill: #bcbcbc;
}
.session-date Text{
    -fx-fill: #bcbcbc;
}
.notifications{
    -fx-background-color: #2A2E37;
}
.notification HBox{
    -fx-pref-height: 38;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
    -fx-background-color:  #2A2E37;
    -fx-alignment: center;
}
.notifications HBox Text{
    -fx-alignment: center;
    -fx-fill: #bcbcbc;
}
.price{
    -fx-pref-Height: 64px;
    -fx-background-color: transparent;
}
.create-order{
    -fx-background-color: #363b41;
}
.create-order .menu-cell{
    -fx-background-color: #363b41;
}
.create-order ListView .list-cell{
   -fx-padding: 0;
   -fx-background-color: transparent;
}
.create-order AnchorPane{
    -fx-background-color: #363b41;
    -fx-pref-height: 195px;
    -fx-pref-width: 275px;

}
.menu-search{
    -fx-background-color: #363b41;
    -fx-text-fill: #bcbcbc;
    -fx-background-radius: 2 2 0 0;
    -fx-pref-height: 39px;
    -fx-pref-width: 339px;
    -fx-alignment: center;
}
.create-button{
    -fx-background-color: #363b41;
    -fx-pref-height: 38.0;
}
.create-button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 5, 0.0 , 0 , 0 );
}

.create-button:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
}
.create-button ProgressIndicator{
    -fx-max-height: 22;
}
.clear-button:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 0 );
}
.alert-box{
    -fx-background-color: #2A2E37;
    -fx-border-color: #363b41;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 5, 0.0 , 0 , 2 );

}
.alert-box > *.button-bar > *.container{
    -fx-background-color: #2A2E37;
    -fx-pref-height: 50
}

.alert-box:header *.header-panel{
    -fx-background-color: #2A2E37;
}
.alert-box:header *.header-panel *.label{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-pref-height: 25;
    -fx-text-fill: transparent;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 0, 0.0 , 0 , 0 );
}
.alert-box > *.label.content{
    -fx-font-size: 12px;
    -fx-text-fill: #bcbcbc;
    -fx-alignment: center;
    -fx-pref-height: 50;
    -fx-padding: 0,0,10,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 5, 0.0 , 0 , 2 );
    -fx-background-color: transparent;
}
.alert-box Button{
    -fx-text-fill: #bcbcbc;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 5, 0.0 , 0 , 0);
    -fx-background-color: #2A2E37;
}
.alert-box Button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0);
}
.alert-box Button:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 0);
}
