Button:focused{
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}
ProgressIndicator {
    -fx-accent: #bcbcbc;
}
ScrollPane{
    -fx-background-color: transparent;
    -fx-padding: 0 1 0 0;
    -fx-opacity: 1.0;
    -fx-background-insets: 0, 0;
}
ScrollPane > .viewport{
    -fx-background-color: transparent;
}
ScrollPane:disabled{
    -fx-opacity: 0.55;
}
ScrollPane ScrollBar{
    -fx-background-color: transparent;
}
ScrollPane ScrollBar .thumb{
    -fx-background-color:  #363b41;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
}
ScrollPane > .corner {
    -fx-background-color: transparent;
}
TextArea .scroll-pane {
    -fx-background-color: transparent;
}

TextArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}

TextArea .scroll-pane .content{
    -fx-background-color: transparent;
}
TextFlow {
    -fx-background-color: #363b41;
    -fx-border-radius: 5;
    -fx-background-insets: -2 -6 -2 -8;
    -fx-background-radius: 5;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 0 );
}
.list-view:focused{
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button{
    -fx-padding: 0px;
}
.list-view .scroll-bar:vertical{
    -fx-scale-x: 0;
}
.scroll-bar > .increment-button,
.scroll-bar > .decrement-button{
    -fx-pref-height:0;
    -fx-background-color: transparent;
}
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-pref-height:0;
    -fx-background-color: transparent;
}
.shadow{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
}
.root{
    -fx-max-height: 53.5em;
    -fx-max-width: 91.5em;
    -fx-min-height: 36.5em;
    -fx-min-width: 61.8em;
    -fx-pref-height: 36.5em;
    -fx-pref-width: 61.8em;
    -fx-background-color: transparent;
}
.profile-image{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 3, 0.0 , 0 , 0 );
}
.profile-image Circle{
    -fx-fill: #2A2E37;
}
.profile-image ImageView{
    -fx-translate-y: 0.4em;
}
.order-list{
    -fx-background-color: #2A2E37;
    -fx-padding: 0;
}
.order-list .list-cell{
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-border-color: #363b41;
    -fx-pref-width: 10.55em;
}
.order-list .list-cell HBox{
    -fx-border-width: 0;
    -fx-alignment: center;
}
.order-list .order-container{
    -fx-spacing: 0.35em;
}
.order-container{
    -fx-pref-height: 7.2em;
    -fx-pref-width: 7.2em;
    -fx-background-color: #2A2E37;
    -fx-background-radius: 10px;
    -fx-padding: 0.9em 2.3em 0.9em 2.3em;
}
.order-list .order-container:hover,
.root > .order-container{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
}
.order-container ListView{
    -fx-background-color: transparent;
}
.order-container .list-cell,
.notification-list .list-cell{
     -fx-background-color: transparent;
     -fx-padding: 0;
}
.order-container > HBox {
    -fx-background-color: #2A2E37;
    -fx-border-radius: 2 2 0 0;
    -fx-background-radius: 2 2 0 0;
    -fx-pref-height: 2.6em;
    -fx-min-height: 2.6em;
    -fx-max-height: 2.6em;
    -fx-padding: 0;
    -fx-alignment: center;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
    -fx-opacity: 1.0;
}
.order-container > HBox > Label{
    -fx-opacity: 1.0;
    -fx-text-fill: #bcbcbc;
    -fx-font-size: 0.835em;

}
.order-container > Button{
    -fx-background-color: #2A2E37;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
    -fx-opacity: 1.0;
    -fx-max-height: 3em;
    -fx-pref-height: 2.3em;
    -fx-pref-width: 2.3em;
    -fx-background-radius: 0 0 3px 3px;
    -fx-min-height: 0;
    -fx-min-width: 0;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
}
.order-container > Button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 0 );
}
.loading{
    -fx-pref-height: 12px;
    -fx-pref-width: 12px;
    -fx-text-fill: #bcbcbc;
}
.dishes-container {
    -fx-pref-height: 0;
    -fx-pref-width: 0;
    -fx-min-height: 0.3em;
    -fx-background-color: #2A2E37;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
}
.dish-time{
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-effect: innershadow( gaussian , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
}
.chat-users{
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}
.chat-users .list-cell{
    -fx-background-color: transparent;
    -fx-padding: 0.9em 0 0.8em 0;
}
.chat-user{
    -fx-alignment: center;
}
.chat-user Circle{
    -fx-fill: #363b41;
}
.chat-user Pane{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 6, 0.0 , 0 , 0 );
}
.chat-user ImageView{
    -fx-translate-y: 0.25em;
}
.chat-users .selected Pane{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 0 );
}
.order-container > AnchorPane > Button:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
}
.dish-cell{
    -fx-background-color: #2A2E37;
    -fx-max-height: 6.7em;
    -fx-min-height: 5.35em;
}
.dish-cell Label{
    -fx-text-fill: #bcbcbc;
}
.menu-cell{
    -fx-background-color: #2A2E37;
    -fx-max-height: 6.7em;
    -fx-min-height: 5.35em;
}
.menu-cell Label{
    -fx-fill: #bcbcbc;
}
.order-container ListView:disabled{
    -fx-opacity: 1;
}
.program-bar{
    -fx-background-color: #2A2E37;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #363b41;
    -fx-pref-height: 2.3em
}
.program-bar Button{
    -fx-min-width: 2.3em;
    -fx-pref-width: 2.3em;
    -fx-max-width: 2.3em;
    -fx-padding: 0;
    -fx-text-fill: #bcbcbc;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}
.close-button{
    -fx-font-size: 0.65em;
}
.minimize-button{
    -fx-font-size: 1.1em;
}
.menu-buttons-container{
    -fx-background-color: #2A2E37;
    -fx-alignment: center;
}
.menu-buttons-container Button{
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-background-color: #2A2E37;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 0 );
    -fx-text-fill: #bcbcbc;
    -fx-font-size: 0.83em;
}
.menu-buttons-container VBox StackPane{
    -fx-pref-width: 1.3em;
    -fx-pref-height: 1.3em;
    -fx-background-color: #d62127;
    -fx-border-radius: 5em;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
    -fx-background-radius: 5em;
    -fx-translate-y: -0.5em;
    -fx-translate-x: 0.7em;
}
.menu-buttons-container VBox StackPane Text{
    -fx-fill:#2a2e37;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
}
.menu-buttons-container Button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
    -fx-border-width: 0;
}
.menu-buttons{
    -fx-spacing: 0.8em;
    -fx-padding: 0;
}
.profile-buttons{
    -fx-spacing: 0.6em;
    -fx-padding: 0.3em 0em 0.6em 0;
}
.menu-scroll{
    -fx-pref-width: 10em;
}
.menu-scroll-clip{
    -fx-pref-width: 8.5em;
    -fx-pref-height: 8.5em;
}
.menu-grid{
    -fx-background-color: #363b41;
    -fx-pref-height: 36em;
    -fx-pref-width: 8.5em;
}
.user-info-container{
    -fx-alignment: center;
    -fx-padding: 0 1em 0.2em 1em;
}
.user-info .scroll-bar .track {
    -fx-scale-x: 0px;
    -fx-padding: 0px;
}
.user-info .scroll-bar .thumb {
    -fx-scale-x: 0px;
    -fx-padding: 0px;
}
.user-info VBox{
    -fx-padding: 0.5em 0.25em 0.9em 0.25em;
    -fx-alignment: center;
    -fx-spacing: 0.5em;
    -fx-pref-height: 14.1em;
    -fx-pref-width: 6.5em;
}
.user-info{
    -fx-pref-width: 11.5em;
}
.user-info TextField,
.user-info Button{
    -fx-text-fill: #bcbcbc;
    -fx-background-color: #363b41;
    -fx-font-size: 0.85em;
    -fx-opacity: 1.0;
}
.user-info TextField {
    -fx-effect: innershadow( gaussian , rgba(0,0,0,1) , 4.5, 0.0 , 0 , 0);
    -fx-border-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-alignment: center;
}
.user-info Button{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
}
.user-info Button:disabled{
    -fx-opacity: 0.5;
}
.user-info TextField:readonly {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 2, 0 , 0 , 0 );
    -fx-cursor: pointer;
}
.user-info ProgressIndicator{
    -fx-max-height: 1em;
}
.user-info:disabled Button{
    -fx-opacity: 0.9;
}
.role-image{
    -fx-padding: 0.5em;
}
.role-image ImageView{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
}
.info-line{
    -fx-pref-height: 0.15em;
    -fx-min-height: 0.15em;
    -fx-background-color: #363B41;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
}
.chat-block{
    -fx-padding: 0 0 7 0;
}
.main-chat {
    -fx-background-color: #363b41;
}
.main-chat Pane{
    -fx-pref-width: 40.0;
    -fx-pref-height: 40.0;
    -fx-border-radius: 180px;
    -fx-background-radius: 180px;
}
.main-chat .imageShadow{
    -fx-background-color: #363b41;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 6, 0.0 , 0 , 0 );
}
.main-chat .message{
    -fx-fill: #bcbcbc;
}
.main-chat Button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 0 );

}
.main-chat Button:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 0, 0.0 , 0 , 0 );
}
.main-chat .time{
    -fx-fill: #2A2E37;
}
.main-chat TextFlow{
    -fx-padding: 5 0 5 0;
}
.main-chat Button{
    -fx-background-color: #363b41;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}
.main-chat TextArea{
    -fx-background-color: #363b41;
    -fx-text-fill: #bcbcbc;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #bcbcbc;
}
.user-message-first{
    -fx-padding: 15 0 0 165;
}
.user-message{
    -fx-padding: 8 40 0 165;
}
.second-user-message-first{
    -fx-padding: 17 165 0 0;
}
.second-user-message{
    -fx-padding: 8 165 0 40;
}
.session-date{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 3, 0.0 , 0 , 0 );
    -fx-padding: 10 0 15 15;
}
.session-info{
    -fx-opacity: 0.7;
    -fx-padding: 0 0 0 15;
}
.chat-info{
    -fx-opacity: 1;
}
.session-info Pane,
.chat-info Pane{
    -fx-background-color: #bcbcbc;
}
.session-info TextFlow{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 0, 0.0 , 0 , 0 );
    -fx-background-insets: 0 0 0 0;
}
.session-info Text{
    -fx-fill: #bcbcbc;
}
.session-date Text{
    -fx-fill: #bcbcbc;
}
.upper-content{
    -fx-background-color: #2A2E37;
}
.upper-content Text{
    -fx-fill: #bcbcbc;
    -fx-text-alignment: center;
}
.notification-list{
    -fx-background-color: transparent
}
.notification-list HBox{
    -fx-pref-height: 4em;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
    -fx-background-color:  #2A2E37;
    -fx-alignment: center;
}
.create-order{
    -fx-background-color: #363b41;
    -fx-alignment: center;
}
.create-order .menu-cell{
    -fx-background-color: #363b41;
    -fx-pref-height: 5.35em;
}
.create-order .menu-cell Label{
    -fx-text-fill: #bcbcbc;
}
.create-order ListView .list-cell{
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}
.create-order ListView{
   -fx-padding: 0;

}
.create-order AnchorPane{
    -fx-background-color: #363b41;
    -fx-pref-height: 195px;
    -fx-pref-width: 275px;
}
.create-order VBox{
    -fx-padding: 1em;
}
.create-order TextField{
    -fx-background-color: #363b41;
    -fx-text-fill: #bcbcbc;
    -fx-background-radius: 2 2 0 0;
    -fx-pref-height: 3.25em;
    -fx-alignment: center;
}
.create-order ListView{
    -fx-background-color: #363b41;
}
.create-order Button{
    -fx-background-color: #363b41;
    -fx-text-fill: #bcbcbc;
    -fx-pref-height: 3.2em;
}
.create-order Button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 5, 0.0 , 0 , 0 );
}

.create-order Button:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
}
.create-order Button ProgressIndicator{
    -fx-max-height: 22;
}
.clear-button:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 0 );
}
