.orders{
    -fx-background-color: #EEEEEE;
}
.orders > Button{
    -fx-background-radius: 5px;
    -fx-text-fill: white;
    -fx-border-width: 0px;
    -fx-pref-height: 29.0;
    -fx-pref-width: 139.0;
    -fx-border-radius: 180px;
    -fx-background-color: #E6353A;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
}
Button:focused{
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
}
.orders ScrollPane{
    -fx-background-color: transparent;
}
.orders ScrollPane > .viewport{
    -fx-background-color: transparent;
}
.orders ScrollPane FlowPane> Pane{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 2, 0.0 , 0 , 2 );
    -fx-background-color: #E6353A;
    -fx-background-radius: 25px;
    -fx-border-width: 0px;
    -fx-pref-height: 39.0;
    -fx-pref-width: 200.0;
}
.chat-second{
    -fx-background-color: #F3680C;
}
.chat-second ScrollPane{
    -fx-background-color: transparent;
}
.chat-second ScrollPane > .viewport{
    -fx-background-color: transparent;
}
.create-order{
    -fx-background-color: #F3680C;
}
.updates{
    -fx-background-color: #F3680C;
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
    -fx-border-color: #89936e;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}
.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb{
    -fx-background-color: #b2b2b2;
}
