Button:focused{
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}
Label, Button, TextField{
    -fx-text-fill: #bcbcbc;
}
Text{
    -fx-fill: #bcbcbc;
}
GridPane{
    -fx-alignment: center;
}
ScrollPane > .corner {
    -fx-background-color: transparent;
}
ScrollPane .scroll-bar > .increment-button,
ScrollPane .scroll-bar > .decrement-button{
    -fx-pref-height:0;
    -fx-background-color:  transparent;
}
ScrollPane .scroll-bar > .increment-button > .increment-arrow,
ScrollPane .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-pref-height:0;
    -fx-background-color: transparent;
}
ScrollPane ScrollBar{
    -fx-background-color: transparent;
}
ScrollPane{
    -fx-background-color: transparent;
}
ScrollPane > .viewport{
    -fx-background-color: transparent;
}
TextFlow {
    -fx-background-color: #1a1a1a;
    -fx-border-radius: 5;
    -fx-background-insets: -2 -6 -2 -8;
    -fx-background-radius: 5;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 0 );
}
ListView{
    -fx-padding: 0;
}
ListView .list-cell{
    -fx-padding: 0;
    -fx-background-color: transparent;
}
.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button{
    -fx-padding: 0px;
}
.list-view{
    -fx-background-color: transparent;
}
.list-view .scroll-bar:vertical{
    -fx-scale-x: 0;
}
.root{
    -fx-pref-height: 43.83em;
    -fx-min-height: 43.83em;
    -fx-pref-width: 60.83em;
    -fx-min-width: 60.83em;
    -fx-background-color: transparent;
}
.padding-container{
    -fx-padding: 1.5em;
}
.padding-container > AnchorPane{
    -fx-effect: dropshadow( gaussian, rgba(0,0,0,1), 10, 0.42, 0.7, 0);
}
.shadow{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1), 15, 0.0 , 0 , 2 );
}
.content-bar{
    -fx-background-color: #FC3903;
    -fx-pref-width: 38.0px;
}
.order-view{
    -fx-background-color: #1a1a1a;
    -fx-padding: 2em 1em;
    -fx-effect: innershadow( gaussian , rgba(0,0,0,1), 4.5, 0.0 , 0 , 0);
}
.order-view > VBox{
    -fx-spacing: 11.4em;
}
.order-view > VBox:disabled{
    -fx-opacity: 0;
}
.order-icon{
    -fx-padding: 0 0 3.5em 0;
}
.order-icon > Circle{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 5.5, 0.0 , 0 , 0 );
    -fx-fill: #1a1a1a;
}
.create-view{
    -fx-background-color: #1a1a1a;
    -fx-effect: innershadow( gaussian , rgba(0,0,0,1) , 4.5, 0.0 , 0 , 0);
    -fx-padding: 2em;
}
.create-view TextField{
    -fx-pref-height: 3.5em;
    -fx-min-height: 3.5em;
    -fx-background-color: #1a1a1a;
    -fx-alignment: center;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 8, 0.0 , 0 , 0 );
}
.dishes-list{
    -fx-pref-height: 0;
    -fx-padding: 0 1em;
}
.dishes-list ListView{
    -fx-background-color: #1a1a1a;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 8, 0.0 , 0 , 0 );
}
.dishes-list GridPane{
    -fx-background-color:  #1a1a1a;
}
.dish-cell{
    -fx-max-height: 6.7em;
    -fx-min-height: 5.35em;
    -fx-pref-height: 5.35em;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
}
.dish-cell Label{
    -fx-alignment: center;
}
.loading{
    -fx-pref-height: 12px;
    -fx-pref-width: 12px;
    -fx-text-fill: #bcbcbc;
}
.order-cell{
    -fx-padding: 0.5 0 0.5 3em;
}
.order-cell > StackPane{
    -fx-pref-height: 5em;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1), 0.5, 0 , 0 , 0.5 );
    -fx-background-color: #1a1a1a;
}
.order-cell VBox{
    -fx-spacing: 0.6em;
    -fx-alignment: center;
}
.order-cell HBox{
    -fx-alignment: top-right;
    -fx-padding: 0.5em 0.5em 0 0;
}
.order-cell Button{
    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,1), 2, 0, 0.4, 0);
    -fx-background-color: #1a1a1a;
    -fx-border-radius: 5em;
    -fx-background-radius: 5em;
    -fx-min-height: 0;
    -fx-min-width: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-pref-width: 1.2em;
    -fx-pref-height: 1.2em;
}
.order-cell Label,
.order-cell Text{
    -fx-text-fill: white;
    -fx-font-family: "Georgia Pro";
    -fx-font-size: 0.6em;
}
.order-list .list-cell:hover .order-cell > StackPane{
    -fx-background-color: rgb(252,57,3,0.1);
}
.order-list .list-cell:selected .order-cell > StackPane{
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-color: rgb(252,57,3,1);
}
.menu-container{
    -fx-background-color: #1a1a1a;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 8, 0.0 , 0 , 0 );
}
.dish-cell{
    -fx-pref-Height: 5.35em;
}
.menu-container .list-view .list-cell GridPane{
    -fx-background-color: #1a1a1a;
}
.add-button-padding{
    -fx-padding: 2em 0;
}
.add-button{
    -fx-pref-height: 5em;
    -fx-pref-width: 5em;
    -fx-min-height: 5em;
    -fx-min-width: 5em;
    -fx-border-radius: 5em;
    -fx-background-radius: 5em;
    -fx-background-color: #1a1a1a;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 5.5, 0.0 , 0 , 0 );
}
.add-button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 3, 0.0 , 0 , 0 );
}
.add-button:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 0 );
}
.add-button ProgressIndicator{
    -fx-accent: #FC3903;
}
.orders,
.chats{
    -fx-background-color: #1a1a1a;
    -fx-border-width: 0 0.3 0 0;
    -fx-border-color: white;
    -fx-padding: 4.8em 0.6 0 0;
}
.order-info{
    -fx-padding: 1em 0 0 0;
}
.order-info > VBox{
    -fx-pref-height: 8.75em;
    -fx-min-height: 8.75em;
    -fx-pref-width: 10.5em;
    -fx-padding: 0.5em 0 1em 0;
    -fx-background-color: #1a1a1a;
    -fx-background-radius: 15;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 8, 0.0 , 0 , 0 );
}
.order-info VBox{
    -fx-alignment: center;
}
.order-info Label{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4.5, 0.0 , 0 , 0 );
    -fx-font-weight: bold;
}
.date-label{
    -fx-font-size: 8.3em;
}
.info-label{
    -fx-border-width: 0 0 1 0;
    -fx-font-size: 1em;
    -fx-border-color: white;
}
.chats-list .list-cell:selected .name{
    -fx-text-fill: white;
}
.chats-list .list-cell:selected .last-message{
    -fx-pref-height: 0;
    -fx-text-fill: white;
}
.chats-list .list-cell{
    -fx-padding: 0.33em 0;
}
.chats-list .list-cell:selected{
    -fx-background-color: #FC3903;
}
.chats-list .list-cell:selected HBox{
    -fx-background-color: transparent;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 0, 0.0 , 0 , 0 );
}
.chat-cell{
    -fx-padding: 0.2em 0 0.2em 3.5em;
    -fx-alignment: center;
    -fx-spacing: 0.55em;
    -fx-background-color: #1a1a1a;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 1 );

}
.chat-cell:hover{
    -fx-background-color: rgb(252,57,3,0.1);
}
.chat-cell VBox{
    -fx-alignment: center-left;
    -fx-pref-width: 0;
}
.name{
    -fx-font-size: 1em;
}
.profile-image{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 15, 0.0 , 0 , 2 );
}
.profile-image Circle {
    -fx-fill: white;
}
.profile-image ImageView{
    -fx-translate-y: 4.15;
}
.last-message{
    -fx-text-fill: #545454;
}
.chat-view {
    -fx-background-color: #1a1a1a;
    -fx-effect: innershadow( gaussian , rgba(0,0,0,1) , 4.5, 0.0 , 0 , 0);
}
.chat-block{
    -fx-padding: 0 0 7 0;
}
.main-chat Pane{
    -fx-pref-width: 40.0;
    -fx-pref-height: 40.0;
    -fx-border-radius: 180px;
    -fx-background-radius: 180px;
}
.main-chat VBox{
    -fx-pref-width: 396.0px;
}
.main-chat .imageShadow{
    -fx-background-color: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 6, 0.0 , 0 , 0 );
}
.main-chat Button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 0 );
}
.main-chat Button:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 0, 0.0 , 0 , 0 );
}
.main-chat AnchorPane{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
}
.main-chat .time{
    -fx-fill: #2A2E37;
}
.main-chat TextFlow{
    -fx-padding: 5 0 5 0;
}
.main-chat > HBox{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1), 15, 0.0 , 0 , 2 );
    -fx-padding: 0 0.3em 0.5em 0.3em;
}
.main-chat Button{
    -fx-background-color: #1a1a1a;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-insets: none;
    -fx-background-radius: 0;
    -fx-padding: 0.8em 1.25em;
}
.main-chat TextArea{
    -fx-background-color: #1a1a1a;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #bcbcbc;
    -fx-text-fill: #bcbcbc;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-padding: 0;
}
.main-chat TextArea .content {
    -fx-background-color: transparent;
}
.main-chat TextArea .viewport{
    -fx-background-color: transparent;
}
.main-chat ScrollBar .thumb{
    -fx-background-color:  #1a1a1a;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
}
.user-message-first{
    -fx-padding: 15 0 0 165;
}
.user-message{
    -fx-padding: 8 40 0 165;
}
.second-user-message-first{
    -fx-padding: 17 165 0 0;
}
.second-user-message{
    -fx-padding: 8 165 0 40;
}
.session-date{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 0 );
    -fx-padding: 10 0 15 15;
}
.session-info{
    -fx-opacity: 0.7;
    -fx-padding: 0 0 0 15;
}

.chat-info{
    -fx-opacity: 1;
}
.session-info Pane{
    -fx-background-color: white;
}
.session-info TextFlow{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 0, 0.0 , 0 , 0 );
    -fx-background-insets: 0 0 0 0;
}
.session-info Text{
    -fx-fill: white;
}
