Button,
TextField,
PasswordField{
    -fx-background-color: #1a1a1a;
    -fx-text-fill: #bcbcbc;
}

Button{
    -fx-border-color: black;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
}
Button:focused{
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
}
Button:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 5, 0.0 , 0 , 1);
}
TextField,
PasswordField,
.style-buttons Button{
    -fx-pref-height: 30px;
    -fx-pref-width: 100px;
    -fx-font-size: 10px;
}
.stage-root{
    -fx-background-color: transparent;
    -fx-pref-height: 84px;
    -fx-pref-width: 621px;
}
.login-pane{
    -fx-pref-height: 55px;
    -fx-pref-width: 528px;
    -fx-background-color: transparent;
    -fx-border-color: #1a1a1a;
    -fx-border-width: 2;
}
.background{
    -fx-background-color: #1a1a1a;
    -fx-opacity:0.8;
}
.background-line{
    -fx-pref-height: 200px;
    -fx-pref-width: 200px;
    -fx-background-color: #1a1a1a;
    -fx-effect: dropshadow( three-pass-box , rgba(252,57,3,1.6) , 45, 0.0 , 0 , 6 );
}
.menu-button{
    -fx-pref-height: 35px;
    -fx-pref-width: 70px;
    -fx-font-size: 12px;
}
.register-fields{
    -fx-pref-height: 39px;
    -fx-pref-width: 206px;
}
.action-btn{
    -fx-background-color: #FC3903;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-pref-height: 25px;
    -fx-pref-width: 30px;
    -fx-max-height: 25px;
    -fx-max-width: 30px;
    -fx-min-height: 25px;
    -fx-min-width: 25px;
}
.loading-pane {
    -fx-background-color: #1a1a1a;
    -fx-pref-height: 100px;
    -fx-pref-width: 200px;
    -fx-alignment: center;
}
.loading-indicator {
    -fx-accent: #FC3903;
}
.alert-box{
    -fx-background-color: #1a1a1a;
    -fx-border-color: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 5, 0.0 , 0 , 2 );

}
.alert-box > *.button-bar > *.container{
    -fx-background-color: transparent;
    -fx-pref-height: 50
}

.alert-box:header *.header-panel{
    -fx-background-color: transparent;
}
.alert-box:header *.header-panel *.label{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-pref-height: 25;
    -fx-text-fill: #bcbcbc;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 0, 0.0 , 0 , 0 );
}
.alert-box > *.label.content{
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-pref-height: 40;
    -fx-padding: 0,0,10,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 5, 0.0 , 0 , 2 );
    -fx-background-color: #FC3903;
}
.alert-box Button{
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 5, 0.0 , 0 , 0);
    -fx-background-color: #FC3903;
}
.alert-box Button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0);
}
.alert-box Button:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 1, 0.0 , 0 , 0);
}