TextField,
PasswordField{
    -fx-background-color: #363b41;
    -fx-text-fill: #bcbcbc;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}
Label{
    -fx-background-color: #2A2E37;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 2, 0.0 , 0 , 0 );
}
Button{
    -fx-background-color: #2A2E37;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 1, 0.0 , 0 , 0 );
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}
Button:focused{
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}
Button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );
}
ImageView{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 2, 0.0 , 0 , 0 );
}
.background{
    -fx-background-color: black;
    -fx-opacity: 0.5;
}
.login-pane > Pane{
    -fx-opacity: 1;
    -fx-background-color: #2A2E37;
}
.fields-container{
    -fx-background-color:  #2A2E37;
}
.loading-pane {
    -fx-background-color: #2A2E37;
}
.loading-indicator {
    -fx-accent: #bcbcbc;
}
.alert-box{
    -fx-background-color: #2A2E37;
    -fx-border-width:1.5px;
    -fx-border-color: black;
}
.alert-box > *.button-bar > *.container{
    -fx-background-color: #2A2E37;
    -fx-pref-height: 50px;
}

.alert-box:header *.header-panel{
    -fx-background-color: #2A2E37;
}
.alert-box:header *.header-panel *.label{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-pref-height: 25;
    -fx-text-fill: #2A2E37;
    -fx-alignment: center;
    -fx-background-color: #2A2E37;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 0, 0.0 , 0 , 0 );
}
.alert-box > *.label.content{
    -fx-font-size: 12px;
    -fx-text-fill: #bcbcbc;
    -fx-alignment: center;
    -fx-pref-height: 50;
    -fx-padding: 0,0,10,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 0, 0.0 , 0 , 0 );
    -fx-background-color: #363b41;
    -fx-border-width: 1 0 1 0;
    -fx-border-color: black;
}
.alert-box Button{
    -fx-text-fill: #bcbcbc;
}
