TextField,
PasswordField,
Button{
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-background-insets: none;
    -fx-padding: 0;
    -fx-min-width: 0;
    -fx-pref-width: 0;
}
TextField,
PasswordField{
    -fx-background-color: #363b41;
    -fx-text-fill: #bcbcbc;
    -fx-effect: innershadow( gaussian , rgba(0,0,0,1) , 4.5, 0.0 , 0 , 0);
    -fx-alignment: center;
    -fx-font-size: 0.85em;
}
Button{
    -fx-background-color: #2A2E37;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 0 );
    -fx-text-fill: #bfbfbf;
}
Button:focused{
    -fx-background-insets: none;
}
Button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4, 0.0 , 0 , 0 );
}
ImageView{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 2, 0.0 , 0 , 0 );
}
.root{
    -fx-background-color: transparent;
}
}
.action-btn{
    -fx-text-fill: #bfbfbf;
    -fx-font-size: 0.83em;
}
.background{
    -fx-background-color: black;
    -fx-opacity: 0.5;
}
.login-pane{
    -fx-background-color: #2A2E37;
    -fx-pref-height: 6.5em;
    -fx-pref-width: 35em;
}
.fields-container{
    -fx-background-color: #2A2E37;
    -fx-padding: 0.2em 0.2em 0.2em 0;
}
.fields-container GridPane{
    -fx-alignment: center;
}
.style-buttons{
    -fx-spacing: 1em;
    -fx-padding: 1.14em 3em;
}
.style-buttons:disabled Button{
    -fx-opacity: 1;
}
.style-buttons Button {
    -fx-font-size: 0.85em;
}
.fields-inner-shadow{
    -fx-background-color: #2A2E37;
    -fx-effect: innershadow( gaussian , rgba(0,0,0,1) , 4.5, 0.0 , 0 , 0);
}
.user-inputs{
    -fx-alignment: center-right;
}
.user-inputs HBox{
    -fx-spacing: 0.5em;
}
.menu-buttons{
    -fx-background-color: #2A2E37;
    -fx-alignment: center;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 4.5, 0.0 , 0 , 0 );
}
.menu-buttons Button{
    -fx-font-size: 0.75em;
}
.loading-pane {
    -fx-background-color: #2A2E37;
    -fx-alignment: center;
}
.loading-indicator {
    -fx-accent: #bcbcbc;
    -fx-max-height: 5em;
}
