.shadow{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );
}
Label{
    -fx-background-color: #363b41;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );
}

Button:focused{
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}
ScrollPane{
    -fx-background-color: transparent;
    -fx-padding: 0 1 0 0;
    -fx-opacity: 1.0;
    -fx-background-insets: 0, 0;
}
ScrollPane > .viewport{
    -fx-background-color: transparent;
}
ScrollPane:disabled{
    -fx-opacity: 0.55;
}
ScrollPane ScrollBar{
    -fx-background-color: transparent;
}
ScrollPane ScrollBar .thumb{
    -fx-background-color:  #363b41;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button{
    -fx-pref-height:0;
    -fx-background-color: transparent;
}
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-pref-height:0;
    -fx-background-color: transparent;
}
.menu Button{
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );
    -fx-background-color: #2A2E37;
}
.menu Button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 0.5, 0.0 , 0 , 0 );
    -fx-border-width: 0;
}
.order-container{
    -fx-pref-height: 189.0px;
    -fx-pref-width: 127.35px;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #363b41;
}
.order-container:hover .order{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );
}
.order{
    -fx-background-color: #2A2E37;
    -fx-background-radius: 10px;
    -fx-pref-height: 86.5;
    -fx-pref-width: 86.5;
}
.order > Label{
    -fx-background-color: #2A2E37;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-pref-height: 30.0;
    -fx-pref-width: 30.0;
    -fx-text-fill: #bcbcbc;
    -fx-alignment: center;
    -fx-font-size: 10;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );
    -fx-opacity: 1.0;
}
.order > Button{
    -fx-background-color: #2A2E37;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );
    -fx-opacity: 1.0;
}
.order > Button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 1, 0.0 , 0 , 0 );
}
.chatUsers ImageView{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 6, 0.0 , 0 , 0 );
}
.chatUsers ImageView:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 1, 0.0 , 0 , 0 );
}
.order > Button:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 4, 0.0 , 0 , 0 );
}
.program-bar{
    -fx-background-color: #2A2E37;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #363b41;
}
.menu-bar{
    -fx-background-color: #2A2E37;
}
TextFlow {
    -fx-background-color: #363b41;
    -fx-border-radius: 5;
    -fx-background-insets: -2 -6 -2 -8;
    -fx-background-radius: 5;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1.6) , 1, 0.0 , 0 , 0 );
}

.user-message{
    -fx-padding: 20 0 0 65;
}
.user-message .message{
    -fx-fill: #bcbcbc;
}
.user-message .time{
    -fx-fill: #2A2E37;
}
.user-message TextFlow{
    -fx-padding: 5 0 5 0;
}